*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: (255, 255, 255);
}
body{
    
    font-family: 'Lato', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    border: solid 2px red
}

header{
    padding: 20px;
    margin: 50px 0;
    height: 15vh;
    width: 90vw;
    background-color: #fff;
    position: relative;
    border-bottom: #D65780 2px solid ;
    justify-content: center;

}
main{
    height: 70vh;
    border: solid 2px red;
}

.bottomNav{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
a{
    text-decoration: none;
    color: #222;
}
h1{
    color: white;
    background-color: black;
}
.barraDeNavegacion{
    background-color:#D65780 ;
    color: black ;
}
.nav-item{
    color: black
}
.fotoProducto{
    width: 400px;
    height: 500px;
}
.fa-search {
    position: absolute;
    left: 0;
    color: #b7b7b7;
    top: 11px;
    cursor: pointer;
    transition: all 0.5s
}
.topNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.input_text {
    position: relative
}
input[type="text"] {
    height: 40px;
    padding: 0 10px;
    outline: 0;
    padding-left: 25px;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #ee964b;
    box-sizing: border-box;
    transition: all 0.5s
}
.input_text input:focus {
    border-bottom: 1px solid #d65780 
}

.input_text input:focus~i {
    color: #d65780 
}
.woman {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center
}

#fotoProductomin{
    height: 30vh;
    width: 12vw;
    position: fixed;
}
.mainTitle{
    font-weight: 400;
    text-align: center;
}
.subTitle{
    font-weight: 600;
    text-align: left;
    font-size: 13px;
    opacity: 0.8;
    margin-left: 15px;
}
.carrito{
    width: 45vw;
    height: 35vh;
    border-top: 1px solid #d65780;
    border-bottom: 1px solid #d65780;
    
}
.descripcion{
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.descripcion #nombreProducto{
    font-weight: 600;
    display: block;
    text-decoration: underline ;
}
.detalles{
    list-style: none;
    text-indent: -90px;
}


#eliminar{
    vertical-align: bottom;
    padding-top: 15px;
    text-align: left;
    text-indent: -40px;
    text-decoration: underline;
    font-weight: 600;
}
footer{
    height: 5vh;
    text-align: center;
}
.copyright__body{
    vertical-align: bottom;
    opacity: 0.7;
}
.quantity {
    width: 100px;
    height: 40px;
    border: 1px solid #ee964b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    font-weight: 700;
    margin-left: -35px;

}
#precio{
    text-indent: -70px;
}
