*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: (255, 255, 255);
}
body{
    width: 70vw;
    height: 62vh;
}

header{
    padding: 20px;
    margin: 50px 0;
    height: 15vh;
    width: 90vw;
    background-color: #fff;
    position: relative;
    border-bottom: #D65780 2px solid ;
    justify-content: center;

}

.bottomNav{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
a{
    text-decoration: none;
    color: #222;
}
h1{
    color: white;
    background-color: black;
}
.barraDeNavegacion{
    background-color:#D65780 ;
    color: black ;
}
.nav-item{
    color: black
}
.fotoProducto{
    width: 400px;
    height: 500px;
}
.fa-search {
    position: absolute;
    left: 0;
    color: #b7b7b7;
    top: 11px;
    cursor: pointer;
    transition: all 0.5s
}
.topNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.input_text {
    position: relative
}
input[type="text"] {
    height: 40px;
    padding: 0 10px;
    outline: 0;
    padding-left: 25px;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #ee964b;
    box-sizing: border-box;
    transition: all 0.5s
}
.input_text input:focus {
    border-bottom: 1px solid #d65780 
}

.input_text input:focus~i {
    color: #d65780 
}
.woman {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center
}
