html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  display: block;
  font-weight: 400;
  margin-bottom: -1px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.login-block {
  margin: 30px auto;
  min-height: 93.6vh
}

.login-block .auth-box {
  margin: 20px auto 0;
  max-width: 450px !important
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #fff
}

.card .card-block {
  padding: 1.25rem
}

.f-80 {
  font-size: 80px
}

.form-group {
  margin-bottom: 1.25em
}

.form-material .form-control {
  display: inline-block;
  height: 43px;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 9px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px
}

.btn-primary {
  background-color: #4099ff;
  border-color: #4099ff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s
}

.btn {
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  width: 300px;
}

.facebook-btn{
  background-color: #3B5998;
  color: white;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 2px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */


}

.m-b-20 {
  margin-bottom: 20px
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px
}

.heading {
  font-size: 21px
}

#infoMessage p {
  color: red !important
}

.google-btn {
  background-color: #dd4b39;
  color: white;
  box-shadow: 0 1px 2px 1px #ddd;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 2px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0
}

.line-separator {
  background-color: darkgray;
  flex-grow: 5;
  height: 1px
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center
}

.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;


.social-login button{
  display: flex;
  min-width: 600px;
}

.form-floating{
  padding-top: 24px;
}


.pass-form{
  margin: none;
}
